README-bk.md
**/node_modules
**/rs-env
**/bb-env
**/da-env
**/res-env
**/genai
**/data-search-env
**/__pycache__
**/.DS_Store
.DS_Store
**/.env
ingredient-to-recipe/.env
data-analysis-tool/.env
resume-screening-app/.env
data-analysis-tool/.env
llm-rag-vectordb-python/image-generation-node-js-app/src/frontend/node_modules/*
searching-from-my-data/.env
getting-started-with-bedrock/.env